<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3173f068ecd944c787ec7589638caca2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3173f068ecd944c787ec7589638caca2" ></div>
        
</body>
<script>    
    
            var map_3173f068ecd944c787ec7589638caca2 = L.map(
                "map_3173f068ecd944c787ec7589638caca2",
                {
                    center: [13.133932434766733, 16.103938729508073],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c411910d8d15420d9f6deb2bc2dca034 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
            var marker_799e2917916b4c8d834166d57d999781 = L.marker(
                [47.0707, 15.4395],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_0c77d8f14ecc4bebb085f12134b267e7 = L.popup({"maxWidth": "100%"});

        
            var html_27284e2ea0974734ae66f56044df2663 = $(`<div id="html_27284e2ea0974734ae66f56044df2663" style="width: 100.0%; height: 100.0%;">Graz</div>`)[0];
            popup_0c77d8f14ecc4bebb085f12134b267e7.setContent(html_27284e2ea0974734ae66f56044df2663);
        

        marker_799e2917916b4c8d834166d57d999781.bindPopup(popup_0c77d8f14ecc4bebb085f12134b267e7)
        ;

        
    
    
            marker_799e2917916b4c8d834166d57d999781.bindTooltip(
                `<div>
                     Graz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b8d41804414044c1b58348738ae02a7f = L.marker(
                [25.0341, 121.56389],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_053bb5c38db942ff97ebdb33b0ec9c27 = L.popup({"maxWidth": "100%"});

        
            var html_0fbdfcc567644b338fe1b720b2f6f67e = $(`<div id="html_0fbdfcc567644b338fe1b720b2f6f67e" style="width: 100.0%; height: 100.0%;">Taipei</div>`)[0];
            popup_053bb5c38db942ff97ebdb33b0ec9c27.setContent(html_0fbdfcc567644b338fe1b720b2f6f67e);
        

        marker_b8d41804414044c1b58348738ae02a7f.bindPopup(popup_053bb5c38db942ff97ebdb33b0ec9c27)
        ;

        
    
    
            marker_b8d41804414044c1b58348738ae02a7f.bindTooltip(
                `<div>
                     Taipei
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d0a01e8f797c4a48bde55546a56f0ca3 = L.marker(
                [-23.5505, -46.6333],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_6c2b2b0c11fb43f8b72bdf2dc92e6301 = L.popup({"maxWidth": "100%"});

        
            var html_a9aeedeaaeeb408f8305e4e470a3c7c2 = $(`<div id="html_a9aeedeaaeeb408f8305e4e470a3c7c2" style="width: 100.0%; height: 100.0%;">São Paulo</div>`)[0];
            popup_6c2b2b0c11fb43f8b72bdf2dc92e6301.setContent(html_a9aeedeaaeeb408f8305e4e470a3c7c2);
        

        marker_d0a01e8f797c4a48bde55546a56f0ca3.bindPopup(popup_6c2b2b0c11fb43f8b72bdf2dc92e6301)
        ;

        
    
    
            marker_d0a01e8f797c4a48bde55546a56f0ca3.bindTooltip(
                `<div>
                     São Paulo
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e01febcce3e0464386af925023c62083 = L.marker(
                [-21.1704, -47.8103],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_7a9c3c46aa7846a4aec64573804bc5e5 = L.popup({"maxWidth": "100%"});

        
            var html_a47ea473489d4e59ba1874a83eec292a = $(`<div id="html_a47ea473489d4e59ba1874a83eec292a" style="width: 100.0%; height: 100.0%;">Ribeirão Preto</div>`)[0];
            popup_7a9c3c46aa7846a4aec64573804bc5e5.setContent(html_a47ea473489d4e59ba1874a83eec292a);
        

        marker_e01febcce3e0464386af925023c62083.bindPopup(popup_7a9c3c46aa7846a4aec64573804bc5e5)
        ;

        
    
    
            marker_e01febcce3e0464386af925023c62083.bindTooltip(
                `<div>
                     Ribeirão Preto
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_17cab90620ca48d88935e1b9f8873fe2 = L.marker(
                [-27.5986, -48.5187],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_0e5e7b364112416d93ff393019bb7240 = L.popup({"maxWidth": "100%"});

        
            var html_354fab94ce4c4d06844700ad18c95b1e = $(`<div id="html_354fab94ce4c4d06844700ad18c95b1e" style="width: 100.0%; height: 100.0%;">Florianópolis</div>`)[0];
            popup_0e5e7b364112416d93ff393019bb7240.setContent(html_354fab94ce4c4d06844700ad18c95b1e);
        

        marker_17cab90620ca48d88935e1b9f8873fe2.bindPopup(popup_0e5e7b364112416d93ff393019bb7240)
        ;

        
    
    
            marker_17cab90620ca48d88935e1b9f8873fe2.bindTooltip(
                `<div>
                     Florianópolis
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d800bd1ebefd4052a37ec46af888fd65 = L.marker(
                [-12.9777, -38.5016],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_2aec447d47cc46d7ba3d211407020185 = L.popup({"maxWidth": "100%"});

        
            var html_78a4502bad67463cac008bcb99b95897 = $(`<div id="html_78a4502bad67463cac008bcb99b95897" style="width: 100.0%; height: 100.0%;">Salvador</div>`)[0];
            popup_2aec447d47cc46d7ba3d211407020185.setContent(html_78a4502bad67463cac008bcb99b95897);
        

        marker_d800bd1ebefd4052a37ec46af888fd65.bindPopup(popup_2aec447d47cc46d7ba3d211407020185)
        ;

        
    
    
            marker_d800bd1ebefd4052a37ec46af888fd65.bindTooltip(
                `<div>
                     Salvador
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92d3985e2be74ce59e8c517e19237fd2 = L.marker(
                [-9.6498, -35.7089],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_1e80b2a381214ff1b5e4b88e62d4f1eb = L.popup({"maxWidth": "100%"});

        
            var html_ae5d0e103faf4855a9c061ae48f6ba6e = $(`<div id="html_ae5d0e103faf4855a9c061ae48f6ba6e" style="width: 100.0%; height: 100.0%;">Maceió</div>`)[0];
            popup_1e80b2a381214ff1b5e4b88e62d4f1eb.setContent(html_ae5d0e103faf4855a9c061ae48f6ba6e);
        

        marker_92d3985e2be74ce59e8c517e19237fd2.bindPopup(popup_1e80b2a381214ff1b5e4b88e62d4f1eb)
        ;

        
    
    
            marker_92d3985e2be74ce59e8c517e19237fd2.bindTooltip(
                `<div>
                     Maceió
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_548e30b70f644268bcc180b479ad3822 = L.marker(
                [-19.9167, -43.9345],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_0bfb9c1790764567abd888546779a6bb = L.popup({"maxWidth": "100%"});

        
            var html_7a9397550e27481ebad497004069560d = $(`<div id="html_7a9397550e27481ebad497004069560d" style="width: 100.0%; height: 100.0%;">Belo Horizonte</div>`)[0];
            popup_0bfb9c1790764567abd888546779a6bb.setContent(html_7a9397550e27481ebad497004069560d);
        

        marker_548e30b70f644268bcc180b479ad3822.bindPopup(popup_0bfb9c1790764567abd888546779a6bb)
        ;

        
    
    
            marker_548e30b70f644268bcc180b479ad3822.bindTooltip(
                `<div>
                     Belo Horizonte
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b05741964f9a425387c7da2e3f2ca497 = L.marker(
                [-15.8267, -47.9218],
                {}
            ).addTo(map_3173f068ecd944c787ec7589638caca2);
        
    
        var popup_241804e3719646e4972e32cb6766a35e = L.popup({"maxWidth": "100%"});

        
            var html_295b97f4c79549c59ac3f44f82390450 = $(`<div id="html_295b97f4c79549c59ac3f44f82390450" style="width: 100.0%; height: 100.0%;">Brasília</div>`)[0];
            popup_241804e3719646e4972e32cb6766a35e.setContent(html_295b97f4c79549c59ac3f44f82390450);
        

        marker_b05741964f9a425387c7da2e3f2ca497.bindPopup(popup_241804e3719646e4972e32cb6766a35e)
        ;

        
    
    
            marker_b05741964f9a425387c7da2e3f2ca497.bindTooltip(
                `<div>
                     Brasília
                 </div>`,
                {"sticky": true}
            );
        
</script>